:root {
    --text: #000000;
    --background: #fafafa;
    --background-darker: #cdcfd3;
    --primary: #23CE6B;
    --secondary: #50e88f;
    --accent: #72db58;
    --switch-bg: #9ca3af;

    --warning: #ff3535;
    --warning-background: #d96a6a;
}
